@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Custom properties */

:root {
    --color-fondo: rgba(248, 248, 248, 0.8);
    --color-fuente: rgba(7, 7, 7, 0.9);
    --color-accent: rgba(25, 1, 53, 0.8);
    --border: 2px solid rgba(25, 1, 53, 0.5);
}

/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    color: var(--color-fuente);
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo);
    padding: 20px;
}

/* Header y barra de navegacion */

header nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

header nav p {
    font-size: 20px;
    font-weight: 700;
}

header nav ul {
    gap: 30px;
    list-style: none;
    margin-top: 10px;
}

header nav ul li {
    padding: 10px 0;
}

header nav a {
    text-decoration: none;
    color: var(--color-accent);
}

/* Botones globales */

button {
    background-color: var(--color-accent);
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 20px 0;
}

/* Inner HTML del listado de noticias */

.noticia__card {
    width: 100%;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 6px 6px 5px hsla(0, 0%, 0%, 0.02);
}

.noticia__card__content {
    margin: 10px;
    padding: 24px 10px;
}

img {
    display: block;
}

.noticia__card__img--box {
    min-width: auto;
    max-width: 100%;
    height: auto;
}

.noticia__card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

.noticia__card__content--date {
    display: block;
    margin-bottom: 10px;
    color: var(--color-accent);
    font-size: 14px;
    font-weight: 700;
}

.noticia__card__content--title {
    margin-bottom: 20px;
}

.noticia__card__content--text {
    margin-bottom: 20px;
}

/* Footer */

footer {
    text-align: center;
    color: var(--color-accent);

}

/* Responsive global: Pantallas a partir de 800px) */

@media(min-width: 800px) {
    .noticia__card {
        flex-direction: row;
        gap: 20px;
        align-items: center;

    }

    .noticia__card__img--box {
        min-width: 400px;
        max-width: 400px;
        height: 400px;
    }

    .noticia__card__content {
        margin: 10px;
        padding: 32px 40px;

    }

    header nav {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        list-style: none;
    }
}

