section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5em;
}

.formulario,
.noticias {
    width: 100%;
    background-color: rgba(242, 254, 255, 0.5);
    padding: 20px;
}


.noticia-item {
    border: 1px solid #35068b;
    border-radius: 8px;
    width: 80%;
    padding: 20px;
    margin: 20px;
}

@media(min-width: 800px) {
    section {
        flex-direction: row;
    }
}