/* Estilos del componente blog */

section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5em;
}

h1 {
    font-size: 28px;
    padding: 20px;

}

/* Area de formulario y de listado de noticias */

.formulario,
.noticias {
    width: 100%;
    padding: 10px;
}

.noticias {
    max-width: 100%;
}

.noticias h1 {
    border-bottom: var(--border);

}

.formulario {
    background: linear-gradient(130deg, rgba(238, 238, 255, 0.6), rgba(124, 124, 204, 0.2));
    border-radius: 10px;
    box-shadow: 6px 6px 5px hsla(0, 0%, 0%, 0.02);
    backdrop-filter: blur(10px);
}

.formulario h1 {
    border-bottom: var(--border);
}

.formulario__campos {
    padding: 20px;
}

.formulario div {
    margin: 10px 0;
    width: 100%;
    display: block;
}

.formulario div input {
    width: 100%;
    margin-top: 10px;
    height: 40px;
    border: var(--border);
    border-radius: 5px;
    padding: 10px;
}

/* Diseño responsive del layout del componente */

@media(min-width: 800px) {

    .formulario {
        padding: 20px;
        max-width: 50%;
    }

    .formulario .date {
        max-width: 40%;
    }

    .noticias {
        max-width: 1240px;
    }
}